extends layout

block content
 h4#b KB FASHION WORLD 
 h4#c About
 p#d From upstream to downstream, KB selects industries to produce quality fabric, aesthetically appealing designs and intricately needled impressions to stay ahead of the innovation curve. We focus on the suiting needs of the diverse segments of our society. Therefore, we diligently conduct in- depth research and analysis of the ever-changing fashion trends, only to make a versatile variety of masterpieces available to the customers.