body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;

}
:root{
  --lg-color: linear-gradient( to right, black, grey);
}

a {
  color: #00B7FF;
}
#b{
  text-align: center;
  padding-top: 30px;
  font-weight: 600;
  color: black;
}
#c{
  margin-right: 20px;
  padding-top: 20px;
  font-size: 30px;
}
#d{
  text-align: left;
  font-size: 18px;
  color:black;
  
}
#e{
  background: var(--lg-color);

}
#f{
  color: white;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  padding-right: 15px;
  margin-left: 3px;
}
#g{
  padding-top: 15px;
  color: black;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
#i{
  margin-top: 15px;
  color: white;
  background: linear-gradient( to left, green, black);
  font-weight: bold;
}
#j{
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-weight: bold;
}
#k{
  font-size: 15px;
  font-weight: 540;
  color: black;

}
#l{
  color: white;
  background: linear-gradient( to left, red, black);
  font-weight: bold;
}
#m{
  color: white;
  background: linear-gradient( to left, gold, black);
  font-weight: bold;
}
#n{
  color: white;
  background: linear-gradient( to left,skyblue, black);
  font-weight: bold;
}
#w{
  padding-top: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-weight: 600;
 
}
#x{
  font-size: 20px;
  padding-top: 18px;
}
#y{
  color: white;
  background: linear-gradient( to right, blue, black);
  font-weight: bold;
}
#z{
  font-size: 20px;
  color: black;
}
#o{
  color: white;
  background: linear-gradient( to left, cyan, black);
  font-weight: bold;
  float: right;
  margin-top: 80px;
  width: 200%;
  font-size: 20px;
}


