extends ../layout

block content
     .row
        .col-sm-8
            h2#g Products in KB
        .col-sm-4
            a(href="/products/add", class="btn btn-success float-right" , id="i") Add New Product    
        table.table
            thead#j
                tr
                    th Name
                    th Price
                    th Size
                    th Category
                    th Actions
            tbody
                each product in products
                    tr#k
                        td=product.name
                        td=product.price
                        td=product.size
                        td=product.category
                        td
                            a(href="/products/delete/"+product._id, class="btn btn-danger", id="l") Delete
                            a(href="/products/edit/"+product._id, class="btn btn-warning", id="m") Edit
                            a(href="/products/cart/"+product._id, class="btn btn-info", id="n") Add To Cart